dash==2.16.1
dash-bootstrap-components==1.5.0
fastapi==0.110.0
numpy==1.26.4
pandas==2.2.1
uvicorn==0.29.0
sqlalchemy==2.0.29
alembic==1.13.1
passlib==1.7.4
PyMySQL==1.1.0
python-jose[cryptography]==3.3.0
bcrypt==4.1.2
python-multipart==0.0.9

python-dotenv==1.0.1
# generate dummy data
faker==24.9.0